@if (!players) {
    <p>No location selected or location does not have rankings.</p>
} @else {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Clan</th>
                <th>Trophies</th>
            </tr>
        </thead>
        <tbody>
            @for (player of players; track player) {
            <tr>
                <td>{{ player.name }}</td>
                @if (player.clan) {
                    <td>{{ player.clan.name }}</td>
                } @else {
                    <td class="no-clan-td">No clan</td>
                }
                <td>{{ player.trophies }}</td>
            }
    </table>
}

