@if (!players) {
    <div class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>
} @else {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Clan</th>
                <th>Trophies</th>
            </tr>
        </thead>
        <tbody>
            @for (player of players; track player) {
            <tr>
                <td><a [href]="'/players/' + getTrimmedTag(player?.tag)">{{ player.name }}</a></td>
                @if (player.clan) {
                    <td class="clan-td"> <img src="{{ player.clan.badgeUrls.small }}"/> {{ player.clan.name }}</td>
                } @else {
                    <td class="no-clan-td">No clan</td>
                }
                <td>{{ player.trophies }}</td>
                <td>{{ player.tag }}</td>
            }
    </table>
}

