<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Clan</th>
            <th>Trophies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DisNapped</td>
            <td>Warriors</td>
            <td>1500</td>
        </tr>
        <tr>
            <td>Bob</td>
            <td>Knights</td>
            <td>1750</td>
        </tr>
        <tr>
            <td>Charlie</td>
            <td>Defenders</td>
            <td>1620</td>
        </tr>
        <tr>
            <td>Diana</td>
            <td>Guardians</td>
            <td>2800</td>
        </tr>
        <tr>
            <td>Edward</td>
            <td>Invincibles</td>
            <td>1400</td>
        </tr>
        <tr>
            <td>Fiona</td>
            <td>Champions</td>
            <td>1550</td>
        </tr>
        <tr>
            <td>George</td>
            <td>Avengers</td>
            <td>1650</td>
        </tr>
        <tr>
            <td>Hannah</td>
            <td>Vikings</td>
            <td>1700</td>
        </tr>
        <tr>
            <td>Ian</td>
            <td>Raiders</td>
            <td>1450</td>
        </tr>
        <tr>
            <td>Julia</td>
            <td>Conquerors</td>
            <td>1600</td>
        </tr>
    </tbody>
</table>