<div class="container">
    <div class="rows-header">
        <div class="lvl-name-status-labels-row">
            <div class="lvl-name-tag-status-container">
                <div class="lvl-container">
                    <img src="../../../assets/xp-small.webp" alt="Xp star">
                    <h3>{{ playerData?.expLevel }}</h3>
                </div>
                <div class="name-tag-status">
                    <h3>{{ playerData?.name }}</h3>
                    <h4 class="tag">{{ playerData?.tag }}</h4>
                    <h4>{{ playerData?.role }}</h4>
                </div>
            </div>
            <div class="labels">
                @for (label of playerData?.labels; track label) {
                    <div class="label">
                        <img src="{{ label.iconUrls.small }}" alt="Player label">
                    </div>
                } @empty {
                    <p>No labels yet!</p>
                }
            </div>
        </div>
        <hr>
        <div class="clan-row">
            @if (playerData.clan) {
                <h3 class="clan-name"><a href="/clans/{{ getTrimmedTag(playerData?.clan?.tag) }}">{{ playerData.clan?.name }}</a></h3>
                <img class="clan-badge" src="{{ playerData.clan?.badgeUrls.medium }}"  alt="Clan badge">
            } @else {
                <h3 class="clan-name">No clan</h3>
            }
            <div class="clan-preference" [ngClass]="{inwar: playerData?.warPreference == 'in'}">
                <p>Clan Wars</p>
            </div>
        </div>
        <hr>
        <div class="league-row">
            <div class="league-trophies-container">
                <img class="league-img" src="{{ playerData.league?.iconUrls.medium ?? '../../../../../assets/no-league.png' }}" alt="League icon">
                <div class="name-trophies-container">
                    <h3>{{ playerData.league?.name }}</h3>
                    <div class="trophies-container">
                        <img src="../../../assets/trophy.webp" alt="Trophy">
                        <h4>{{ playerData?.trophies }}</h4>
                    </div>  
                </div>
            </div>
            <div class="pb-trophies">
                <p>Personal best:</p>
                <div class="pb-trophies-container">
                    <img src="../../../assets/trophy.webp" alt="Trophy">
                    <h4>{{ playerData?.bestTrophies }}</h4>
                </div>
            </div>
            <div class="war-stars-won">
                <p>Total war stars:</p>
                <div class="stars-container">
                    <img src="../../../assets/stars-3.webp" alt="Trophy">
                    <h4>{{ playerData?.warStars }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="troops-victories-container">
        <div class="donated-troops">
            <p>Donated troops:</p>
            <div class="amount-container">{{ playerData?.donations }}</div>
        </div>
        <div class="donated-troops">
            <p>Received troops:</p>
            <div class="amount-container">{{ playerData?.donationsReceived }}</div>
        </div>
        <div class="donated-troops">
            <p>Attack wins:</p>
            <div class="amount-container">{{ playerData?.attackWins }}</div>
        </div>
        <div class="donated-troops">
            <p>Defense wins:</p>
            <div class="amount-container">{{ playerData?.defenseWins }}</div>
        </div>
    </div>
    <div class="th-main-troops-container">
        <div class="th-container">
            <img [src]="getTownhallImagePath()" alt="Town hall">
        </div>
        <div class="troops-container">
            <h1 [ngClass]="{ active: selectedTroopTab === 0 }" (click)="selectTroopTab(1)">Troops <img class="swap-icon" (click)="selectTroopTab(1)" src="../../../assets/swap-icon.png" alt="Swap icon"></h1>
            <h1 [ngClass]="{ active: selectedTroopTab === 1 }" (click)="selectTroopTab(0)">Builder Base Troops <img class="swap-icon" (click)="selectTroopTab(0)" src="../../../assets/swap-icon.png" alt="Swap icon"></h1>
            <div class="troop-boxes">
                @if (selectedTroopTab === 0) {
                    @for (troop of playerData?.troops; track troop) {
                        @if (troop.village === 'home' && !isAnimal(troop.name) && !isSiegeMachine(troop.name) && !isSuperTroop(troop.name)) {
                            <app-troop-icon [level]="troop.level" [name]="troop.name"/>
                        }       
                    }
                } @else if (selectedTroopTab === 1) {
                    @for (troop of playerData?.troops; track troop) {
                        @if (troop.village === 'builderBase' && !isAnimal(troop.name) && !isSiegeMachine(troop.name) && !isSuperTroop(troop.name)) {
                            <app-troop-icon [level]="troop.level" [name]="troop.name"/>
                        }       
                    }
                }

            </div>
        </div>
    </div>
    <div class="heroes-animals-spells-machines-container">
        <div class="heroes-animals-container">
            <div class="heroes-container">
                <h1 [ngClass]="{ active: selectedHeroesTab === 0 }" (click)="selectHeroesTab(1)">Heroes<img class="swap-icon" (click)="selectHeroesTab(1)" src="../../../assets/swap-icon.png" alt="Swap icon"></h1>
                <h1 [ngClass]="{ active: selectedHeroesTab === 1 }" (click)="selectHeroesTab(0)">Builder Base Heroes<img class="swap-icon" (click)="selectHeroesTab(0)" src="../../../assets/swap-icon.png" alt="Swap icon"></h1>
                <div class="troop-boxes">
                    @if (selectedHeroesTab === 0) {
                        @for (hero of playerData?.heroes; track hero) {
                            @if (hero.village === 'home') {
                                <app-troop-icon [level]="hero.level" [name]="hero.name"/>
                            }
                        } @empty {
                            <p>No heroes yet!</p>
                        }
                    } @else if (selectedHeroesTab === 1) {
                        @for (hero of playerData?.heroes; track hero) {
                            @if (hero.village === 'builderBase') {
                                <app-troop-icon [level]="hero.level" [name]="hero.name"/>
                            }
                        } @empty {
                            <p>No heroes yet!</p>
                        }
                    }

                </div>
            </div>
            <div class="animals-container">
                <h1>Animals</h1>
                <div class="troop-boxes">
                    @for (troop of playerData?.troops; track troop) {
                        @if (troop.village === 'home' && isAnimal(troop.name)) {
                            <app-troop-icon [level]="troop?.level" [name]="troop.name"/>
                        }
                    }
                    @if (!hasAnimals) {
                        <p>No animals yet!</p>
                    }
                </div>
            </div>
        </div>
        <div class="spells-machines-container">
            <div class="spells-container">
                <h1>Spells</h1>
                <div class="troop-boxes">
                    @for (spell of playerData.spells; track spell) {
                        <app-troop-icon [level]="spell?.level" [name]="spell.name"/>
                    }
                </div>
            </div>
            <div class="siege-machines-container">
                <h1>Siege Machines</h1>
                <div class="troop-boxes">
                    @for (troop of playerData.troops; track troop) {
                        @if (isSiegeMachine(troop.name)) {
                            <app-troop-icon  [level]="troop.level" [name]="troop.name" />
                        }
                    }
                    @if (!hasSiegeMachines) {
                        <p>No siege machines yet!</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="achievements-container">
        <h1>Achievements</h1>
        <hr>
        <div class="achievements-boxes">
            @for (achievement of playerHomeAchievements; track achievement) {
                <app-achievement [stars]="achievement.stars" [title]="achievement.name" [description]="achievement.info" [completitionInfo]="achievement?.completionInfo" [value]="achievement.value" [target]="achievement.target"/>
            }
        </div>
        <h1>Builder Base Achievements</h1>
        <hr>
        <div class="achievements-boxes">
            @for (achievement of playerBuilderBaseAchievements; track achievement) {
                <app-achievement [stars]="achievement.stars" [title]="achievement.name" [description]="achievement.info" [completitionInfo]="achievement?.completionInfo" [value]="achievement.value" [target]="achievement.target"/>
            }
        </div>
        <h1>Clan Capital Achievements</h1>
        <hr>
        <div class="achievements-boxes">
            @for (achievement of playerClanCapitalAchievements; track achievement) {
                <app-achievement [stars]="achievement.stars" [title]="achievement.name" [description]="achievement.info" [completitionInfo]="achievement?.completionInfo" [value]="achievement.value" [target]="achievement.target"/>
            }
        </div>
    </div>
    <div class="charts-container">
        <h1>Charts</h1>
        <hr>
        <h3>Trophies - Best Trophies Comparison</h3>
        <app-player-trophies-chart [playerData]="playerData"/>
        <h3>Performance Radar</h3>
        <app-player-performance-chart [playerData]="playerData"/>       
        <h3>Army Levels</h3>
        <app-player-army-levels-chart [playerData]="playerData"/>       
    </div>
</div>


