.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1em;
    border-radius: 25px;
    border: 1px solid black;
    backdrop-filter: blur(10px);

    .rows-header {
        display: flex;
        flex-direction: row;
        border-radius: 1em;
        padding-top: 1em; // This is here for the HRs to look cleaner
        padding-bottom: 1em; // This is here for the HRs to look cleaner
        gap: 2px;
        min-height: 20em;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;

        .lvl-name-status-labels-row {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 33.3333333%;
            padding: 1em;
            gap: 1em;
            .lvl-name-tag-status-container {
                display: flex;
                height: fit-content;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                gap: 1em;
                align-items: flex-start;

                .lvl-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0.5em;
                }
                
                .name-tag-status {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .tag {
                        color: grey;
                    }
                }
            }
            .labels {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
            }
            @media screen and (max-width: 1280px) {
                width: 100%;
            }
        }
        .clan-row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100%;
            padding: 1em;
            box-sizing: border-box;
            width: 33.3333333%;
            @media screen and (max-width: 1280px) {
                width: 100%;
            }
            .clan-preference {
                background-color: red;
                padding: 1em;
                border-radius: 1em;
                border: 2px solid black;
            }

            .inwar {
                background-color: green;
            }
        }

        .league-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            min-height: 100%;
            padding: 1em;
            box-sizing: border-box;
            gap: 1em;
            width: 33.3333333%;
            .league-trophies-container {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                .league-img {
                    width: 10rem;
                }
                .name-trophies-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                .trophies-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            @media screen and (max-width: 1280px) {
                width: 100%;
            }
            .pb-trophies {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .pb-trophies-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: rgb(9, 54, 112);
                    border-radius: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                    border: 2px solid black;
                }
            }
            .war-stars-won {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .stars-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: rgb(9, 54, 112);
                    border-radius: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                    border: 2px solid black;
                }
            }
            
        }

        @media screen and (max-width: 1280px) {
            flex-direction: column;
            margin-left: 1em;
            margin-right: 1em;
            // padding-left: 1em;
            // padding-right: 1em;
            hr {
                align-self: center;
                width: 95%;
            }
        }

    }

    @media screen and (max-width: 800px) {
        margin-left: 1em;
        margin-right: 1em;
    }

    .troops-victories-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 1em;
        border-radius: 1em;
        width: 100%;
        .donated-troops {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 0.6em;
            padding: 1em;
            .amount-container {
                background-color: grey;
                padding-left: 1em;
                padding-right: 1em;
                border-radius: 1em;
            }
        }
    }

    .th-main-troops-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        align-items: center;
        gap: 1em;
        .th-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 100%;
            min-height: 100%;
            padding: 1em;
            box-sizing: border-box;
            // padding: 3.5em;
            img {
                object-fit: contain;
                height: auto;
                box-sizing: border-box;
            }

        }
        .troops-container {
            display: flex;
            flex-direction: column;
            padding: 1em;
            width: 70%;
            height: 100%;
            border-radius: 1em;
            background-color: rgba(0,0,0,0.5);
            box-sizing: border-box;
            gap: 1em;
            .troop-boxes {
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                box-sizing: border-box;
            }
        }
    }

    .heroes-animals-spells-machines-container {
        display: flex;
        min-height: fit-content;
        width: 100%;
        border-radius: 1em;
        gap: 1em;
        .heroes-animals-container {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 1em;
            .heroes-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 1em;
                box-sizing: border-box;
                padding: 1em;
                gap: 1em;
                .troop-boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                }
            }
            .animals-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 1em;
                padding: 1em;
                box-sizing: border-box;
                gap: 1em;
                height: 100%;
                .troop-boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                }
            }
        }
        .spells-machines-container {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 70%;
            .spells-container {
                display: flex;
                flex-direction: column;
                height: fit-content;
                width: 100%;
                gap: 1em;
                padding: 1em;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 1em;
                .troop-boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                }
            }
            .siege-machines-container {
                display: flex;
                flex-direction: column;
                border-radius: 1em;
                box-sizing: border-box;
                gap: 1em;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 1em;
                height: 100%;
                .troop-boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                }
            }

        }
    }

    .achievements-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: fit-content;
        border-radius: 1em;
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        .achievements-boxes {
            display: flex;
            flex-direction: column;
            gap: 1em;
            height: fit-content;
        }
    }
    .charts-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
    }

}