.container {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/home-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}