<div #container class="container">
    <app-clans-tabs 
        [totalBuilderBasePoints]="clanData?.clanBuilderBasePoints" 
        [totalPoints]="clanData?.clanPoints" 
        [clanWarLeague]="clanData?.warLeague.name" 
        [emblem]="clanData?.badgeUrls.small" 
        [clanName]="clanData.name" 
        [clanDescription]="clanData.description" 
        [labels]="clanData.labels"
        [clanLocation]="clanData?.location.name"
        [language]="clanData?.chatLanguage?.name"
        [type]="clanData?.type"
        [requiredTrophies]="clanData?.requiredTrophies"
        [requiredBuilderBaseTrophies]="clanData?.requiredBuilderBaseTrophies"
        [requiredTownHallLevel]="clanData?.requiredTownhallLevel"
        [warsWon]="clanData?.warWins"
        [warWinStreak]="clanData?.warWinStreak"
        [clanLeader]="getLeaderName()"
        [warFrequency]="clanData?.warFrequency"
        [capitalHallLevel]="clanData?.clanCapital?.capitalHallLevel"
        [publicWarLog]="clanData?.isWarLogPublic"/>
    <div class="players-container">
        <h1>Members {{ clanData?.members }} / 50 </h1>
        <hr>
        @for (player of clanData?.memberList; track player) {
            <app-clan-player
                [leagueUrl]="player?.league?.iconUrls?.small"
                [name]="player?.name"
                [role]="player?.role"
                [donated]="player?.donations"
                [received]="player?.donationsReceived"
                [trophies]="player?.trophies"
                [playerTag]="player?.tag"/>
        }

    </div>
    <div class="charts-container">
        <h1>Charts</h1>
        <hr>
        <h3>Trophies</h3>
        <app-trophies-chart [labels]="getMembersNames()" [data]="getMembersTrophies()" />
        <hr>
        <h3>League Distribution</h3>
        <app-league-distribution-chart [clanData]="clanData"/>
        <hr>
        <h3>Role - Performance</h3>
        <app-roles-comparison-chart [clanData]="clanData"/>
        <hr>
        <h3>Town Hall Distribution</h3>
        <app-town-hall-distribution-chart [clanData]="clanData"/>
        
    </div>
</div>
